!
! This file is a part of the NsCDE - Not so Common Desktop Environment
! Author: Hegel3DReloaded
! Licence: GPLv3
!

URxvt*geometry: 86x26
URxvt*background: NSCDE_BG_COLOR_4
URxvt*foreground: NSCDE_FG_COLOR_4
URxvt*highlightColor: NSCDE_FG_COLOR_4
URxvt*highlightTextColor: NSCDE_BG_COLOR_4
URxvt*scrollColor: NSCDE_BG_COLOR_5
URxvt*troughColor: NSCDE_SEL_COLOR_5
URxvt*borderColor: NSCDE_BG_COLOR_5
URxvt*thickness: 12
URxvt*scrollBar_right: True
URxvt*urgentOnBell: True
URxvt*visualBell: False
URxvt*multiClickTime: 750
URxvt*scrollstyle: rxvt
URxvt*scrollBar_align: centre
URxvt*scrollWithBuffer: False
URxvt*saveLines: 32000
URxvt*internalBorder: 3
URxvt*externalBorder: 1
URxvt*modifier: mod4
URxvt*font: xft:Noto Sans Mono CJK SC:style=Medium:pixelsize=14,\
            xft:Noto Sans Mono CJK SC:style=Medium:pixelsize=16,\
            xft:Noto Sans Mono CJK SC:style=Medium:pixelsize=18,\
            xft:Noto Sans Mono CJK SC:style=Medium:pixelsize=20,\
            xft:Noto Sans Mono CJK SC:style=Medium:pixelsize=12,\
            xft:Noto Sans Mono CJK SC:style=Medium:pixelsize=10,\
            xft:Noto Sans Mono CJK SC:style=Medium:pixelsize=9
URxvt*boldFont: xft:Noto Sans Mono CJK SC:style=Medium:pixelsize=14,\
                xft:Noto Sans Mono CJK SC:style=Medium:pixelsize=16,\
                xft:Noto Sans Mono CJK SC:style=Medium:pixelsize=18,\
                xft:Noto Sans Mono CJK SC:style=Medium:pixelsize=20,\
                xft:Noto Sans Mono CJK SC:style=Medium:pixelsize=12,\
                xft:Noto Sans Mono CJK SC:style=Medium:pixelsize=10,\
                xft:Noto Sans Mono CJK SC:style=Medium:pixelsize=9
URxvt*italicFont: xft:Noto Sans Mono CJK SC:style=Medium:pixelsize=14,\
                  xft:Noto Sans Mono CJK SC:style=Medium:pixelsize=16,\
                  xft:Noto Sans Mono CJK SC:style=Medium:pixelsize=18,\
                  xft:Noto Sans Mono CJK SC:style=Medium:pixelsize=20,\
                  xft:Noto Sans Mono CJK SC:style=Medium:pixelsize=12,\
                  xft:Noto Sans Mono CJK SC:style=Medium:pixelsize=10,\
                  xft:Noto Sans Mono CJK SC:style=Medium:pixelsize=9
URxvt*boldItalicFont: xft:Noto Sans Mono CJK SC:style=Medium:pixelsize=14,\
                      xft:Noto Sans Mono CJK SC:style=Medium:pixelsize=16,\
                      xft:Noto Sans Mono CJK SC:style=Medium:pixelsize=18,\
                      xft:Noto Sans Mono CJK SC:style=Medium:pixelsize=20,\
                      xft:Noto Sans Mono CJK SC:style=Medium:pixelsize=12,\
                      xft:Noto Sans Mono CJK SC:style=Medium:pixelsize=10,\
                      xft:Noto Sans Mono CJK SC:style=Medium:pixelsize=9
